<div class="flex m-auto h-screen justify-center ">
    <form (ngSubmit)="submit()" class="p-4 rounded-lg border m-auto">
        <h1 class="text-center text-xl">Login Here</h1>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="form.email" #email="ngModel" name="email" class="p-2 rounded w-full border" placeholder="Email" required />
        </div>
        <div [hidden]="email.valid" class="p-2 rounded bg-red-200 text-red-800">Email is required</div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="form.password" name="password" class="p-2 rounded w-full border" placeholder="Password"/>
        </div>
        <div>
            <input type="submit" class="p-2 w-full bg-blue-800 text-white hover:bg-blue-700 rounded"/>
        </div>
    </form>
</div>